:root{
  --backColor: #222327
  
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#root, body{
  background: var(--backColor);
}

.App{
  background: var(--backColor);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation{
  position: absolute;
  width: 400px;
  height: 70px;
  top: 50px;
  /* background-color: #fff; */
  background-color: #969696;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation ul{
  display: flex;
  width: 350px;
}
.navigation ul li{
 position: relative;
 list-style: none;
 width: 70px;
 height: 70px;
 z-index: 1; 
 
}
.hide{
  display: none;
}
.navigation ul li .aLink
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li .aLink .icon{
 position: relative;
 display: block;
 line-height: 70px;
 font-size: 1.5em;
 text-align: center;
 transition: 0.5s;
 color: #222327;
}

.navigation ul li .aLink .icon img{
  position: relative; 
  width: 40px;
  height: 40px;
}

.navigation ul li.active .aLink .icon {
  transform: translateY(-25px);
}



.navigation ul li .aLink .text{
position: absolute;
color: #222327;
font-weight: 400;
font-size: 0.80em;
letter-spacing: 0.05em; 
transition: 0.5s;
opacity: 0;
transform: translateY(20px);
}

.navigation ul li.active .aLink .text{
  opacity: 1;
  transform: translateY(10px);
}

.indicator{
  position: absolute;
  top:-50%;
  width: 70px;
  height: 70px;
  background-color: #29fd53;
  border-radius: 50%;
  border: 6px solid var(--backColor);
  transition: 0.5s;
}

.indicator::before{
  content: '';
  position: absolute;
  top:50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--backColor);
}

.indicator::after{
  content: '';
  position: absolute;
  top:50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--backColor);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px *0));  
  background-color: #c83bff;
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px *1));
  
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px *2));
  background-color: #51caff;
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px *3));
  background-color: #FFCE00;
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px *4));
  background-color: #ff1f71;
}

/* PAGE -> FILE UPLOAD */
.file-upload-body{
  /* margin-top: 130px; */
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;  
}

.container{
  height: 350px;
  width: 430px;
}

.container .warpper{
  position: relative;
  background-color: #2bd2ff;
  height: 300px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  /* background: #fff; */
  /* border: 2px dashed #5c6664; */

  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.warpper.active{
  border: none;
}

.warpper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.warpper .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.warpper .icon{
  font-size: 100px;
  color: #9658fe;
}

.warpper .text{
  font-size: 20px;
  font-weight: 500;
  /* color: #5b5b7b; */
  color: #fff;
}

.warpper #cancel-btn{
  position: absolute;
  right: 10px;
  top:10px;
  font-size: 20px;
  cursor: pointer;
  color: #9658fe;
  display: none;
}

.warpper.active:hover #cancel-btn{
  display: block;
}

.warpper .file-name{
  position: absolute;
  bottom: 0px; 
  width: 100%;
  color: #fff;
  padding: 8px 0;
  font-size: 18px;
  background-color:var(--backColor);
  display: none;
}

.warpper.active:hover .file-name{
  display: block;
}

.wrapper_buttons{
  width: 100%;
  display: flex;
  margin-top: 30px;
}




/* PAGE TRAINING */

.training-container{
  position: absolute;
  top: 140px;
  width: 100%;
  text-align: center;
}


.training_header{
  margin-top: 20px;
  color: #fff;
  letter-spacing: 1px; 
}

.training_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
span {
  color: #fff;
  letter-spacing: 1px;
  font-size: 19px;
}

.training_responseMessage{
  text-align: center;
  color: #1eff45;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px;
}

.training_responseMessage h3 {
  font-size: 22px;
}

.training_span_and_date{
  margin:5px;
}
/* AKO BUDES RADIO RESPONSIVE OVO JE DA KAD DATUMI BUDU JEDAN 
  ISPOD DRUGOG DA BUDU LEPO PORAVNJANI  */

/* .training_span_and_date{
  display: inline;
  width: 350px;
} */

/* .training_span_and_date span{
  display: inline-block;
  width: 100px !important;
} */

/* END IZMENA ZA RESPONSIVE DATUMA i SPANA ZA TRENING */


input[type="date"] {
  width: 200px;
  /* background-color: #5c6664; */
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  padding: 12px;
  margin: 20px;
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 18px;
  
  border-radius: 10px;
}

::-webkit-calendar-picker-indicator{
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

/* PAGE PREDICTION */

.report-container{
  position: absolute;
  top:140px;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prediction_header{
  color: #fff;
  letter-spacing: 1px; 
}

.prediction_content{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0;
  /* background: #5c6664; */
  background-image: none;

  background: rgba(255, 255, 255, 0.07);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select option {
  background-color: var(--backColor) ;
  color: white;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  /* width: 20em;
  height: 3em;
  line-height: 3; */
  width: 12em;
  height: 3.7em;
  line-height: 3.7;
  overflow: hidden;
}
.select::after {
  content: '\25BC';
  position: absolute;
  width: 20px;
  top: 0;
  right: 0;
  padding: 0 1em;
  /* background: #2b2e2e; */

  background: rgba(255, 255, 255, 0.07);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);

  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  /* color: #1eff45; */
  color: #2bd2ff
}

/* PREDICTION TABLE */

.policy-container{
  width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;  
  
}

.policy-table {
  color: grey;
  text-align: center;
  margin-top: 50px;
}

.policy-table-report{
  color: grey;
  text-align: center;
  margin-top: 0px;
}

.headings, .policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1em;
}

.heading {
  flex-basis: 33.333%;
  font-weight: bold;
}

.policy {
  border-radius: 2em;
  /* background-color: white; */

  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  margin-bottom: 20px;
  -moz-box-shadow: 0 0 3px grey;
  -webkit-box-shadow: 0 0 3px grey;
  box-shadow: 0 0 5px grey;
}

.policy span {
  flex-basis: 33.333%;
  font-size: 20px;
}

/* Buttons differences */
.btn_container{

  position:relative;
  text-align: center;
  width: 155px;
  height: 55px;
  margin:20px auto;

}

.btn_container .btn{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  outline: none;
  border: none;
  background: rgba(255,255,255,0.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom:1px solid rgba(255,255,255,0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-size: 400;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.btn_container:hover .btn {
  letter-spacing: 3px;
  cursor: pointer;
}


.btn_container .btn::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.btn_container:hover .btn::before
{
  transform: skewX(45deg) translateX(200%);
}

.btn_container::before
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width:30px;
  height:10px;
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45,
  0 0 15px #1eff45,
  0 0 30px #1eff45,
  0 0 60px #1eff45;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.btn_container:hover::before
{
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn_container::after
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width:30px;
  height:10px;
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45,
  0 0 15px #1eff45,
  0 0 30px #1eff45,
  0 0 60px #1eff45;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.btn_container:hover::after
{
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.export_content{
  /* background-color: #ff1f71; */
  width: 500px;
  margin: 50px auto 20px auto;
  height: 50px;
}

.btnExport{
  border: none;
  outline: none;
  position: relative;
  float: right;
  margin:5px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  background-color: #1877f2;
  letter-spacing: 1px;
  font-weight: 700;
}

.btn_train::before,
.btn_train::after
{
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45,
  0 0 15px #1eff45,
  0 0 30px #1eff45,
  0 0 60px #1eff45;
}



.btn_fileUpload::before,
.btn_fileUpload::after{
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71,
  0 0 15px #ff1f71,
  0 0 30px #ff1f71,
  0 0 60px #ff1f71;
}

.btn_fileUpload{
  margin: 20px 50px 20px 5px;
}

.btn_sendFile{
  margin:20px 5px 20px 50px
}


.btn_sendFile::before,
.btn_sendFile::after{

  background: #c32aff;
  box-shadow: 0 0 5px #c32aff,
  0 0 15px #c32aff,
  0 0 30px #c32aff,
  0 0 60px #c32aff; 
}



.btn_predict::before,
.btn_predict::after
{
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff,
  0 0 15px #2bd2ff,
  0 0 30px #2bd2ff,
  0 0 60px #2bd2ff;
}

.btn_report::before,
.btn_report::after{
  background: #FFCE00;
  box-shadow: 0 0 5px #FFCE00,
  0 0 15px #FFCE00,
  0 0 30px #FFCE00,
  0 0 60px #FFCE00;
}

.btn_report:hover .btn {
  color: #fff;
}

.btn_random::before,
.btn_random::after{
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71,
  0 0 15px #ff1f71,
  0 0 30px #ff1f71,
  0 0 60px #ff1f71;

  background: #ff7a4d;
  box-shadow: 0 0 5px #ff7a4d,
  0 0 15px #ff7a4d,
  0 0 30px #ff7a4d,
  0 0 60px #ff7a4d;
}


/* OPTIMIZATION PAGE*/

.optimization-container{
  position: absolute;
  top: 140px;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.optimization-options{
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.optimization-box{
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #00a400; */
}

.btn-showHide-settings{
  background-color: #fff;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #000;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.75rem 0.75rem;
  text-decoration: none;
  margin: auto;
  width: 150px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; 
  letter-spacing: 1px;
  margin: 10px;
}

.btn-showHide-settings:hover{
  background-color: #ccc ;
}

.btn-44{
  background-color: #42b72a;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.75rem 0.75rem;
  text-decoration: none;
  margin: auto;
  width: 120px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; 
  letter-spacing: 1.5px;
  font-weight: 500;
  margin: 10px;
}

.btn-44:hover{
  background-color: #00a400 ; 
}

.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.75rem 0.75rem;
  text-decoration: none;
  margin: auto;
  width: 150px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  letter-spacing: 1px;
  margin:10px;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}


/* MODAL  */

.modal, .modal-overlay{
  width: 100%;
  top: -140px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.modal-overlay{
  background: rgba(49, 49, 49, 0.8);
  backdrop-filter: blur(1px);
  z-index: 3;
}

.modal-form{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  /* position: absolute; 
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%; */
  margin: 10% auto; /* ovo zakomentarisi, a ovo iznad upotrebi kako bi modal stalno bio prikazan na pola ekrana*/
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  z-index: 4;
}

.modal-form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.modal-form .modal-header {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.modal-label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.modal-input, .modal-select{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 300;
}

.modal-input::placeholder{
  color: #e5e5e5;
}

.modal-submit{
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/*KARTICE GENERATORA*/
.settings-container{
  /* background-color: lime; */
  display: block;
}



.card-container{
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}
.card {

  display: grid;
  grid-template-columns: 210px;
  grid-template-rows: 165px 160px 45px 25px;
  grid-template-areas: "image" "text" "buttons" "stats";
  background: #1d1d1d;
  color:white;
  text-align: center;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  transition: 0.5s ease;
  margin:30px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card-stats {
  grid-area: stats; 
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-image-coal {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("assets/coal.jpg");
  background-size: cover;
}
.card-image-hydro {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("assets/hydro4.png");
  background-size: cover;
}
.card-image-gas {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("assets/gas.jpg"); 
  background-size: cover;
}
.card-image-wind{
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("assets/windTrubine.png");
  background-size: cover;
}
.card-image-solar{
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("assets/solar.png");
  background-size: cover;
}

.card-text {
  display: grid;
  grid-template-rows: 210px;
  grid-template-rows: 35px 35px 35px 45px;
  grid-template-areas: "name" "max" "min" "number";
  grid-area: text;
  margin: 5px;
}

.card-text .name-text{
  grid-area: name;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-text .max-text{
  grid-area: max;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-text .min-text{
  grid-area: min;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-text .number-text{
  grid-area: number;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.card-text p {
  margin: 7px;
  font-size:15px;
  
  font-weight: 300;
}
.card-text h3 {
  width: 100px;
  margin:5px;
  font-size:15px;
  float:left !important;
  letter-spacing: 1px;
}

.card-text input {
  width: 60px;
  height: 20px;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 5px;
}

.card-stats {
  grid-area: stats; 
  display: grid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-stats-coal {
  background: #4a154b
}
.card-stats-hydro {
  background: #36c5f0
}
.card-stats-gas {
  background: #e01e5a
}
.card-stats-wind{
  background: #23b67d
}
.card-stats-solar{
  background: #ecb22e
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding:0px;

}

.card-stats .stat .type {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-BtnContainer{
  /* background-color: #00a400; */
  width: 100%;
  display:inline-flex;
  justify-content:space-evenly;
  margin-bottom: 5px;
}

.card-BtnContainer button{
  width: 40px;
  height: 35px;
  background-size: cover;
  border: none;
  outline: none;
  border-radius: 5px;
}

.card-BtnContainer button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.BtnContainer-delete{
background-color: red;
}

.BtnContainer-save{
  background-color: rgba(255, 255, 255, 0.1);
  
}

.basic-settings{
  /* background-color: rebeccapurple; */
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.settings-column{
  width: 350px;
  margin: 10px;
  /* background-color: red; */
}

.settings-box{
  width: 100%;
  /* background-color: #1877f2; */
  margin: 10px 0px;
  text-align: left;

}
.settings-box label{
  font-size: 20px;
  /* background-color: #00a400; */
  text-align: left;
  color: #fff;
}

.settings-box input {
  width: 100px;
  height: 35px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.settings-column .settings-select{
  height: 35px;
  outline:0;
  border:0;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
